{% extends "/layouts/base.html" %}

{% block about %}
<div class="about">
<p>
	Real Time Opera is a performing arts organization dedicated to the production 
	of new opera. Founded in 2002, it is based in Oberlin, Ohio, and produces 
	opera across the United States, engaging professional singers and a range of 
	instrumental ensembles for performances at a wide variety of venues. Previous 
	productions include the world premieres of Korczak's Orphans by Adam 
	Silverman and Susan Gubernat (2003); Hawaiian Tan Ratface, with words and 
	music by John Trubee, at San Francisco's Studio Z, accompanied by the Ugly 
	Janitors of America and featuring choreography by Carl Franzoni (2004); and 
	Feynman (2005), by composer Jack Vees and librettist Paul Schick, at the 
	Norfolk Chamber Music Festival and at The Knitting Factory in New York City, 
	featuring Sō Percussion. RTO's co-production (with the Oberlin Conservatory) 
	of Leave me Alone!, written by Harvey Pekar and Dan Plonsey and performed at 
	Oberlin's Finney Chapel in 2009, was the first-ever world premiere opera to 
	be webcast live. The widespread attention it received included a segment on 
	National Public Radio's Weekend Edition:
</p>
		<a id="test-link" 
			href="http://www.npr.org/templates/story/story.php?storyId=100031337" 
			target="_blank">Leave me Alone! on Weekend Edition</a>
<p>
	RTO commissioned Evan Ziporyn to compose A House in Bali; performances during 
	the 2009-2010 season took place in Bali, San Francisco, Boston, and at BAM in 
	New York City, featuring the Bang on a Can All-Stars. The 2012-2013 season 
	featured four "pop-up" operas designed by Don Harvey and filmed by Ted 
	Sikora, among them Double Figure, which premiered on Detroit Avenue outside 
	the Cleveland Public Theatre. Frozen Community, a high-energy theater piece 
	brought together composer Randall Woolf, the musical ensemble The Bits, and 
	dance by Ladia Yates; it premiered on South Main Street in Oberlin in May 
	2013. The season's series continued in Pittsburgh with Silent Chorus by 
	composer David Mahler, featuring tenor Stephen Ng (June 2013). RTO's most 
	recent production was an American Sign Language (ASL) opera, Paradox, 
	composed by Larry Polansky and signed by Monique Holt, at the Transformer 
	Station in Cleveland. In February 2014 RTO premiered NOVA, by Lewis Nielson 
	to a libretto by Paul Schick, as part of the Big Box Series at Cleveland 
	Public Theatre. Among RTO's current commissions is Hutong by composer Kui 
	Dong and librettist Paul Schick to a text by Monica Datta.
</p>
</div>
{% endblock %}
