{% extends "/layouts/base.html" %}

{% block index %}

	<div class="slick-slider">
		<div class="slides">
			<img src="/static/slides/1920x1200_2.jpg"/>
			<h1>Hu Tong</h1>
			<p>Click here to learn more</p>
		</div>
		<div class="slides">
			<img src="/static/slides/NOVApic.jpg"/>
			<h1>Nova</h1>
			<p>
				Composed by Lewis Nielson to a libretto by Paul Schick, directed by 
				Jonathon Field and premiered during Cleveland Public Theatre's Big Box 
				series 2014.
			</p>
		</div>
		<div class="slides">
			<img src="/static/slides/paradox.png"/>
			<h1>Paradox</h1>
			<p>
				An American Sign Language opera composed by Larry Polansky to a text by 
				Patrick Graybill, performed by Monique Holt with interpretation by Tim 
				Chamberlain, music performed by Daniel Goode, Randall Chaves-Camacho 
				and Dan King in August 2013 at The Transformer Station in Cleveland.
			</p>
		</div>
		<div class="slides">
			<img src="/static/slides/1920x1200_1.jpg"/>
			<h1>Pop-Ups</h1>
			<p>Click here to learn more</p>
		</div>
		<div class="slides">
			<img src="/static/slides/LMA_photo_1.jpg"/>
			<h1>Leave Me Alone!</h1>
			<p>Click here to learn more</p>
		</div>
		<div class="slides">
			<img src="/static/slides/OperaHead.png"/>
			<h1>Operahead</h1>
			<p>Click here to learn more</p>
		</div>
	</div>
<div class="slick-nav-cust"></div>

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 

<!-- Include js plugin -->
<script src="/static/slick/slick.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
  	$(".slick-slider").slick({
			autoplay: true,
			autoplaySpeed: 3000,
			dots: true,
			appendArrows: $('.slick-nav-cust'),
		});
	});
</script>
{% endblock %}
