{% extends "/layouts/base.html" %}

{% block index %}
<div class="pics">
    <figure>
        <img src="/static/slides/7x4_1.jpg"/> 
        <figcaption>
        </figcaption>
    </figure>
    <figure>
        <img src="/static/slides/7x4_2.jpg"/> 
        <figcaption>
        </figcaption>
    </figure>
    <figure>
        <img src="/static/slides/7x4_3.jpg"/> 
        <figcaption>
        </figcaption>
    </figure>
    <figure>
        <img src="/static/slides/7x4_4.jpg"/> 
        <figcaption>
        </figcaption>
    </figure>
    <figure>
        <img src="/static/slides/7x4_5.jpg"/> 
        <figcaption>
        </figcaption>
    </figure>
    <figure>
        <img src="/static/slides/7x4_6.jpg"/> 
        <figcaption>
        </figcaption>
    </figure>
</div> 

<script type="text/javascript">
$(document).ready(function() {
        $('.pics')
        .after('<div id="slide_nav">') 
        .cycle({ 
            fx:     'fade', 
            speed:  1000, 
            timeout: 5000, 
            pause: 1,
            pager:  '#slide_nav' 
        });
});
</script>
{% endblock %}
