{% extends "/layouts/base.html" %}

{% block index %}

<div class="slick-nav-cust">
	<div class="prev"></div>
	<div class="next"></div>
</div>
	<div class="slick-slider">
		<div class="slides">
			<figure>
				<img src="/static/slides/hu_tong.jpg"/>
				<figcaption>
					<h1>Hu Tong</h1>
					<p>
						Chamber opera by Kui Dong on a story by Monica Datta, libretto by 
						Monica Datta and Paul Schick.
					</p>
				</figcaption>
			</figure>
		</div>
		<div class="slides">
			<figure>
				<img src="/static/slides/NOVApic.jpg"/>
				<figcaption>
					<h1>Nova</h1>
					<p>
						Composed by Lewis Nielson to a libretto by Paul Schick, directed by 
						Jonathon Field and premiered during Cleveland Public Theatre's Big Box 
						series 2014.
					</p>
				</figcaption>
			</figure>
		</div>
		<div class="slides">
			<figure>
				<img src="/static/slides/paradox.png"/>
				<figcaption>
					<h1>Paradox</h1>
					<p>
						An American Sign Language opera composed by Larry Polansky to a text by 
						Patrick Graybill, performed by Monique Holt with interpretation by Tim 
						Chamberlain, music performed by Daniel Goode, Randall Chaves-Camacho 
						and Dan King in August 2013 at The Transformer Station in Cleveland.
					</p>
				</figcaption>
			</figure>
		</div>
		<div class="slides">
			<figure>
				<img src="/static/slides/Pop-Ups.jpg"/>
				<figcaption>
					<h1>Pop-Ups</h1>
					<p>
						RTO Pop-Up Operas: spontaneous miniature public works created in 
						collaboration with Cleveland artist Don Harvey.
					</p>
				</figcaption>
			</figure>
		</div>
		<div class="slides">
			<figure>
				<img src="/static/slides/LMA_photo_1.jpg"/>
				<figcaption>
					<h1>Leave Me Alone!</h1>
					<p>An avant garde jazz opera written by Dan Plonsey to a libretto by 
						Harvey Pekar.
					</p>
				</figcaption>
			</figure>
		</div>
		<div class="slides">
			<figure>
				<img src="/static/slides/OperaHead.png"/>
				<figcaption>
					<h1>Operahead</h1>
					<p>Click to learn more</p>
				</figcaption>
			</figure>
		</div>
	</div>


<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 

<!-- Include js plugin -->
<script src="/static/slick/slick.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
  	$(".slick-slider").slick({
			autoplay: true,
			autoplaySpeed: 8000,
			speed: 1000,
			mobileFirst: true,
			adaptiveHeight: true,
			dots: true,
			prevArrow: $('.prev'),
			nextArrow: $('.next'),
			appendArrows: $('.slick-nav-cust'),
		});
	});
</script>
{% endblock %}
