{% extends "/layouts/base.html" %}

{% block lma %}
<div class="videoWrapper">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/UJvKehHx6o4" 
		frameborder="0" allowfullscreen></iframe>
</div>
<p>
	The first EVER live webcast of a world premiere opera, this ground-breaking 
	performance at Finney Chapel in Oberlin (2009) starred librettist Harvey Pekar, 
	with music by Dan Plonsey, featuring Josh Smith and an outstanding ensemble of 
	musicians, singers and dancers. Guest vocal appearance by Robert Crumb. This is 
	the original live video mix.
</p>
{% endblock %}
