{% extends "/layouts/base.html" %}

{% block operaHead %}
<div class="centered-text">
	<h1>
		Opera Head, Issue 1, Summer 2015
	</h1>
	<h3>
		Satire Invades Opera
	</h3>
	<h4>
		By Kirk Combe
	</h4>
</div>
<p>
	Satire invades anything.  Epic, scientific treatise, painting, song, 
	documentary film, newscast.  You name it, and satire can exploit it for its 
	own purposes.  Satire is the body-snatcher of genre and communicative form.  
	Just think of how The Colbert Report turns inside-out The O'Reilly Factor 
	with such devastating effect.  Nor does satire hesitate to sabotage 
	highfaluting creations such as opera.  In 1728, John Gay brought The Beggar’s 
	Opera to the London stage to ridicule the new English craze for Italian opera.  
	While he was at it, Gay attacked the social and political corruption of his 
	day.  In fact, if something as complex as satire can be put into a nutshell, 
	this combination might be it—that is, half-pretend to be something else, then 
	kick power in the teeth.  Satire created within the modern state frequently 
	follows this pattern.  The one-act opera Nova certainly delivers such a 
	one-two satiric punch.
</p>
<p>
	Form is an all-important consideration when dealing with satire.  What 
	fictive structure does the satirist concoct—and why?  Nova is not a send-up 
	of a spear-and-breastplate opera.  It’s far more convoluted than mere parody.  
	Like The Beggar’s Opera, Nova is in ballad opera form, mixing dialogue with 
	singing.  This foundation enables a second vital aspect of satire: polemic.  
	Satire is always a passionate argument against something in favor of something 
	else.  What Nova attacks is the sexual commodification—and resulting 
	dehumanization—of women.  Paul Schick’s libretto, then, is clearly in line 
	with the social commentary of Gay and, even more so, with the political 
	theatre of Bertolt Brecht, whose famous The Threepenny Opera (1928) is 
	derived from Gay’s ballad opera.  Brecht did not mount realistic plays, but 
	rather metatheatrical spectacles meant to provoke audiences into rational 
	self-reflection and a critical view of the action on the stage.  Instead of 
	inventing pleasantly diverting evenings at the theatre, Brecht wanted viewers 
	to perceive, uncomfortably, social injustice and exploitation.  Nova 
	accomplishes the same.
</p>
<p>
	By the Brechtian technique of highlighting the constructed nature of the 
	theatrical event, Nova performs a third key characteristic of satire: 
	instruction via exaggeration.  Satire engineers a particularly intense 
	transactive experience for spectators.  If text + reader = meaning, then 
	satire always gives us something over-the-top to react to in order to make its 
	point.  And intense transactive experience describes Nova in spades.  With its 
	frank sexuality, aggressive musical score, outrageous caricature of the sales 
	pitch, and biting running commentary by what amounts to a Greek Chorus, Nova 
	scores exceedingly high on the satiric exaggeration scale.  There is no danger 
	of missing that Nova has a message.  How that message might be understood, 
	though, inevitably will vary from viewer to viewer.
</p>
<p>
	Modern satire normally offers a critique of the dominant orthodoxy of the day.  
	Hegemony is interrogated and exposed.  Unquestionably, Nova can be appreciated 
	as a frontal assault on patriarchy and neoliberal capitalism—the two dominant 
	ideologies of modern western, if not now global, society.  Its satire might be 
	biting.  However, after watching NOVA, the life-sized android sexbot, in 
	action for an hour, audience members might equally come away thinking that 
	this ostensible attack on sexual commodification is, in fact, an act of sexual 
	commodification.  That is, is the satiric exaggeration of misogyny really just 
	a commercial celebration of misogyny?  Sex sells, after all, even when one is 
	confronting the idea of sex selling.  Hence one of the acute dangers of 
	satire: will readers mistake its blame for praise?  Will scorn turn into 
	celebration?  Brecht hoped to send audiences back out into the world with an 
	understanding of how their own reality was constructed and, therefore, 
	changeable.  Perhaps Nova does the same—or perhaps it gives us more of the 
	same.
</p>
<p>
	Go see, and decide, for yourself.
</p>
<p>
	Kirk Combe is a professor of English and chair of the Theatre Department at 
	Denison University in Ohio.  Among his academic specialties are the genre of 
	satire and stage comedy.
</p>
<div class="centered-text">
	<h3>
		Va-guy-na.
	</h3>
	<h4>
		By Greggor Mattson
	</h4>
</div>
<p>
	Real Time Opera’s NOVA attempts an oxymoron: to dramatize the banality of 
	commercialized sexuality. Billed as a shocking satire containing nudity and 
	graphic sexual language, the staging I saw won’t surprise opera-goers who 
	watch cable TV after 9pm. The costumes, set design and libretto work together 
	seamlessly to depict a two-dimensional man defined by his orgasms and the 
	pitchman who sells dreams of sexual fulfillment. 
</p>
<p>
	It’s almost a one-man show for Ed, the smooth pitchman-cum-faith-healer whose 
	job is to sell the sexbot NOVA. The lights come up as he steps into the frumpy 
	Elyria, Ohio living room of Al, a tongue-tied man-child. Ed is egged on by a 
	chorus quartet that punctuates his persuasion with anodyne marketing-speak 
	straight from Dale Carnegie: “A change in thinking can be brought about 
	through questions!” “The customer has to know to be able to make an informed 
	decision!” Throughout, Al’s wife Marlene putters in the background, tapping 
	feverishly on her iPhone or distractedly dusting, while Andy Gramps sits 
	frozen before the television. Each of the 11 scenes of this 80-minute 
	production are punctuated by blackness and its noise-music score of electronic 
	bleeps, guitar riffs, and drum-set breakbeats. The demo’s orgasmic moments are 
	punctuated by Ed hanging Al’s used condoms from the mantel like so many 
	Christmas stockings. 
</p>
<p>
	It was impossible not to compare NOVA to Her, Spike Jonze’s Oscar-nominated 
	film about a love affair between a lonely nerd and his computer’s operating 
	system, given sultry voice by Scarlett Johansson. But where Jonze puts us in 
	the awkward position of having to wonder whether we even have to suspend 
	disbelief about such a love affair, NOVA delights in the mere 80 minutes it 
	takes to convince Al to trade in the mute Marlene for a Britney Spears sexbot 
	whose mouth and “secret place” are made of “super-flex Realy-Feel foam.” While 
	Jonze asks us to consider whether love can survive in the absence of 
	Johansson’s body, it’s clear that poor, obsessive-compulsive Marlene is on the 
	outs well before Ed lifts her yellow house dress and shines a light up her 
	va-guy-na to reveal putrefied body ash in the folds of her skin, rancid with 
	bacteria. Who wouldn’t trade her in for a hygienic alternative with superior 
	suction and vibration, that cooks and mixes cocktails besides? Al’s Benny Hill 
	sex antics during his demo foreshadow the climax: the inevitable final 
	discount proffered by phone from Ed’s manager. 
</p>
<p>
	The play bill promised the audience a radical rethink of feminism, but this 
	was quite a dated version. Researchers at Bowling Green State University have 
	shown that contemporary Ohio boys want and expect egalitarianism in their 
	romantic relationships (Giordano et al. 2006). That men’s orgasms have been 
	technologically enhanced and packaged has already been explored by feminist 
	scholars. Over 20 years ago, Judith Levine showed the diagnosis of sexual 
	frigidity in women was accompanied by a simultaneous diagnosis of sex 
	addiction in men, suggesting that our expectations, rather than our biology, 
	had changed (1993). More recently, Meika Loe showed that men’s anxieties about 
	sexual performance make it a ready business market when it is socially 
	validated by insurance companies, as with Viagra (2006). And we hardly need 
	research to tell us that the bombardment of commercial advertisements for male 
	sexual enhancement promote unreal expectations of sexuality and relationships 
	(Croissant 2006).
</p>
<p>
	In case the message wasn’t clear, Al’s twelfth orgasm is accompanied by the 
	chorus presenting the audience with a message on cue cards: since nobody’s 
	doing anything about overconsumption or the depiction of women in the media or 
	our obsession with technology, just get used to it. Presented as we were with 
	a one-dimensional prick who trades in his wife and father-in-law for a sex 
	toy, that’s not shocking at all.  
</p>
<p>
	Croissant, Jennifer. 2006. The New Sexual Technobody: Viagra in the Hyperreal 
	World. Sexualities 9:3 pp. 333-344.
</p>
<p>
	Giordana, Peggy C., Monica A. Longmore, and Wendy D. Manning. 2006. Gender and 
	the Meanings of Adolescent Romantic Relationships: A Focus on Boys. American 
	Sociological Review 71 260-287.
</p>
<p>
	Irvine, Janice M. 1993. Regulated Passions: The Invention of Inhibited Sexual 
	Desire and Sex Addiction. Social Text 37 pp 203-226.
</p>
<p>
	Loe, Meika. 2006. The Rise of Viagra: How The Little Blue Pill Changed Sex in 
	America. New York University Press.
</p>
<div class="centered-text">
	<h3>
		If I Was Aroused While Watching NOVA Did I Miss the Point?
	</h3>
	<h4>
		By Charles Peterson
	</h4>
</div>
<p>
	Broad satire is a dicey game. In order to take a stick to a societal problem, 
	balance, delivery and accuracy must be taken into consideration. Its aim must 
	be true and its points must be surgically precise. Yet at the same time, 
	satire may deliver uncertainty in the minds of the audience. Its vehicle of 
	delivery may be as disturbing as its argument. The best satire is as 
	disturbing as it is arresting and its excellence, possibly, determined by its 
	ability to unsettle.
</p>	
<p>
	Cleveland Public Theater’s Big Box Series presentation of Lewis Nielsen 
	(composer), Paul Schick (libretto) and Jonathon Fields (director) production 
	NOVA provokes the latter concerns. The production’s goal/target is the 
	interrogation of the ways women are sexually objectified and essentialized in 
	a consumer society. The scenario is brutally direct as the protagonist, Ed  
	(Aaron Mucciolo) is a sexually bored (boring?) husband who is considering 
	replacing his wife with a fully functional sex bot (Emily Ann Stys). Younger, 
	tauter, limber and profoundly silent the NOVA unit is put through her paces 
	as he NOVA salesman, Al, (Dan Folino) dips into every archetype of the 
	American shill imaginable. The salesman is a fusion of the spectacled 
	de-humanizing corporate and male gaze. Whether in the guise of a used car 
	salesman, carnival barker or televangelist, the idea of cash on the barrelhead 
	sexual satisfaction is pitched as the ultimate answer to marital bliss. The 
	fact that the sex is mechanized only makes the guaranteed service more 
	efficient. The point is that in modern relationships, corporatized 
	consciousness has reduced women to sexual commodities whose value is based on 
	the degree of male sexual satisfaction. Though explored in other narrative 
	works, film and literature (ex. The Stepford Wives and The Handmaiden’s Tale) 
	this remains a relevant critique of contemporary society, especially in the 
	age of reality television shows (ex. The Bachelor). However in NOVA the 
	package o’pussy is not the only robot. Ed’s wife, Marlene 
	(Claudia Lillibridge), “like the actress” is equally robotized, pantomiming 
	household chores while consumed by her smart phone. Only fleetingly is there 
	a sign of awareness. It is unclear if Marlene is an older model domestic 
	robot or a woman who has been robotized/reduced to her condition by unnamed 
	forces. Her silence exemplifies the conundrum at the satirical heart of the 
	production. 
</p>
<p>
	The point of male gaze=sex=objectification=male gaze... is clear but what 
	is not clear and this takes us back to the question of the challenges of 
	satire, itself, is where is the line between critiquing female objectification 
	and objectifying females. The two named female characters are reduced to the 
	very thing that is up for criticism. The NOVA sex bot is an attractive young 
	woman, scantily clad and maneuvered into a provocative series of sexual 
	positions and a variety of simulated sexual acts. As well Marlene is just an 
	(seemingly) empty minded body who shows no consciousness much less one that 
	would decide to not satisfy her husband’s (sexual desires). Aside from the 
	NOVA sex-bot’s dismissal of Ed at the end of the production, (she decides to 
	watch television instead of demonstrating her attributes) there is no 
	self-awareness in the production. Ed has to strenuously work to convince Al 
	to make a purchase but outside of the question of affordability we see no 
	other reason for doubt or hesitation on Al’s part. There is a Greek chorus, 
	which narrates the inner thoughts of Ed but these are only hilarious Dale 
	Carnegie like tips on how to better manipulate the customer.  Where is the 
	“nod, nod, wink wink”? Where is the outside voice inside the play?
</p>
<p>
	Yet should satire have a moment of self-awareness? Does a moment of clarity 
	dull the dagger’s edge? Does earnestness in the midst of satire become 
	moralizing? At one point the Greek chorus displays a series of cards meant to 
	generate questions about women and objectification, yet this earnest concerns 
	carry little weight against the onslaught of Ed’s sales pitch. How would 10th 
	grade high school English students remember Swift’s “A Modest Proposal” if 
	there had been a coda stating how terrible and disturbing was the plight of 
	the tens of thousands starving Irish? Should satire reveal the real beating 
	heart of concern? Or is it its obligation to take the devil may care route, 
	follow its target’s logic to its unnatural conclusion and within the 
	audience’s queasy wake having driven home the point? These are questions that 
	NOVA does not readily answer nor can these questions be answered over the 
	course of spirited kitchen conversations at late night parties 
	(trust me I tried). However, the fact that NOVA provokes such questions and 
	stimulates such debate is argument enough for the worthiness of the production.
</p>
<div class="centered-text">
	<h3>
		Musically Brilliant
	</h3>
	<h4>
		By Mike Telin
	</h4>
</div>
<p>
	I thoroughly enjoyed Nova! although the plot is truly unbelievable, but what 
	opera plot is? Paul Schick’s libretto is quick and filled with wonderful 
	satire. His characters are sympathetic, except for Ed, and the cast somehow 
	makes all the outrageousness believable.  Although it is Lewis Nielson’s 
	musical score that holds the opera together, the composer made a wise decision 
	not to include any melodic arias in favor of Singspiel.  The proselytizing 
	Greek Chorus adds all the harmony the opera needs and the four members of the 
	chorus sounded fantastic. 
</p>
<p>
	The instrumental ensemble, two electric guitars, two percussionists and a 
	canned laugh track brilliantly enhance the text. In the program notes Nielson 
	writes: “Instead of setting the text, I set up a musical structure that is 
	progressive and surrounds the action.” And this he did with distinction. 
	Although there was plenty of quasi improvisation or vamp till ready moments, 
	the musicians were spot on with every musical jab, bang, and slide. 
</p>
<p>
	Nielson’s writing also makes even the most outrageous actions of the 
	characters believable.  Jonathon Field’s fast paced and often over-the-top 
	staging works tremendously. The only joke that went on just a bit too long 
	was the dance of the ten condoms. This is fantasy but we get it already.
</p>
<p>
	Mike Telin is Executive Editor of Cleveland Classical. He has co/authored 
	numerous public interest articles on music and the performing arts, and 
	served on grant review panels for, among others, the Ohio Arts Council. 
</p>
{% endblock %}
