{% extends "layouts/base.html" %}

{% block paradox %}
<div class="videoWrapper">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/JdSfTv3PlaY" 
		frameborder="0" allowfullscreen></iframe>
</div>
<p>
	<ul>
		<li>
			Text: Patrick Graybill
		</li>
		<li>
			Music, Conception: Larry Polansky
		</li>
		<li>
			Sign Performer (ASL): Monique Holt
		</li>
		<li>
			Interpreter: Tim Chamberlain
		</li>
		<li>
			Video: Douglas Repetto
		</li>
		<li>
			Design: Don Harvey
		</li>
		<li>
			Guitar: Larry Polansky
		</li>
		<li>
			Clarinet: Daniel Goode
		</li>
		<li>
			Percussion: Randall Chaves-Camacho, Dan King
		</li>
	</ul>
</p>
<p>
	<ul>
		<li>
			Filmed by Joe Reboudo, Jen Poland, Evan Lieberman
		</Li>
		<li>
			Edit by Ted Sikora
		</li>
		<li>
			Director of Productions: Victoria Vaughan
		</li>
		<li>
			Artistic Director: Paul Schick
		</li>
	</ul>
</p>
<p>
	Patrick Graybill, a pioneer and patriarch of the modern ASL poetry movement, 
	wrote Paradox in the 1980s, and performed it on his landmark collection Poetry 
	in Motion on the Sign Media (SMI) DVD. Graybill is an important poet, memoirist, 
	literary translator (from English to ASL) and an influential teacher. Since his 
	early performances with the National Theater of the Deaf (including the 
	revolutionary My Third Eye), Graybill has lived and taught in Rochester, NY, 
	inspiring successive generations of ASL poets and artists.
</p>
<p>
	Paradox is both strangely metaphorical and precisely direct. It is about the 
	great sadness of the absence of basic communication, a subject common in 
	Graybill's work, as well as in that of other ASL and English Deaf poets of his 
	generation (like Ella Mae Lentz, Clayton Valli, Raymond Luczak, and others). In 
	the first part of the poem, Graybill, or the narrator, describes a performance 
	by a pianist and singer of a song with the line "Where is that man I love?" In 
	the second part, Graybill tells us that his mother signed, but that his father 
	did not. He asks himself, and us, "where is that man I love?"
</p>
<p>
	There are at least two available recordings of this work, both are used in this 
	Pop-Up Opera. The older recording, from the SMI DVD, is transformed in various 
	ways and projected during the performance. The second, a videotaped performance 
	at the Hood Museum of Art, Dartmouth College is recreated live by Monique Holt 
	in this opera.
</p>
<p>
	Below is a non-poetic translation based Dennis Cokely's interpretation 
	performance of Patrick Graybill's performance at the Hood Museum of Art, 
	Dartmouth College, April, 6, 2011, by Larry Polansky, Tim Chamberlain, and 
	Monique Holt.
</p>
<p>
	<ul>
		<li>
			There, a woman, a black woman.
		</li>
		<li>
			Singing a story.
		</li>
		<li>
			The piano plays and the keys float away.
		</li>
		<li>
			"My man, where is that man I love?"
		</li>
		<li>
			The piano plays on, the black and white keys float away.
		</li>
		<li>
			"My man, where is that man I love?"
		</li>
	</ul>
</p>

<p>
	<ul>
		<li>
			In the hall, a crowd of women and men.
		</li>
		<li>
			All around, looking at the singer.
		</li>
		<li>
			She's singing, wailing at the heavens: "My man, where is that man I love?"
		</li>
		<li>
			The pianist, playing on the black and white keys, stops.
		</li>
		<li>
			All is quiet in this black and white room, the applause is long and loud for 
			the black singer who smiles and bows.
		</li>
		<li>
			She walks toward a man. Her man?
		</li>
		<li>
			For her, it is simply a song.
		</li>
	</ul>
</p>

<p>
	<ul>
		<li>
			For me it's more than a song.
		</li>
		<li>
			It touches something deep inside of me.
		</li>
		<li>
			It's a story that has always bothered me.
		</li>
		<li>
			My father, where's that man I love?
		</li>
		<li>
			My mother, she could sign, she could hear.
		</li>
		<li>
			My father, he could hear, but couldn't sign.
		</li>
		<li>
			That song continues for me: "My man, where is that man I love?"
		</li>
	</ul>
</p>
{% endblock %}
