{% extends "/layouts/base.html" %}

{% block people %}
<p>
	<img id="bio-pic" src="/static/Schick_01.jpg">
	Paul Schick is Artistic Director of Real Time Opera, based in Oberlin, OH. He 
	recently launching a series of pop-up operas in collaboration with Cleveland 
	artist Don Harvey, works of public art filmed for presentation on the web.  
	Composers for these have included Randall Woolf, David Mahler, and Larry 
	Polansky.
</p>
<p>
	Schick has written libretti for numerous new works, including NOVA by Lewis 
	Nielson, Iphis/Ianthe by Shea Pierre, A House In Bali by Evan Ziporyn, 
	Feynman by Jack Vees, and Sunburst, Amarama and Cactus Co. by Dan Plonsey.  
	He recently completed the text for the opera Pedr Solis, with music by Per 
	Bloland, to premiere in Boston in May, 2015. He is currently working on Twin 
	Reverb, an online surf opera by Vees.
</p>
<p>
	He has served on the directing staffs of the Wiener Staatsoper, the Teatro 
	alla Scala, the Bayerische Staatsoper, and the Salzburger Festspiele, and has 
	directed for stage, television, and film.  He designed and directed Shadow 
	Bang with music by Evan Ziporyn and shadow puppetry by Balinese master dalang 
	I Wayan Wija, produced by Bang On A Can.  His work has been performed in 
	Europe, Asia, and the US.
</p>
<p>
	Schick's musical compositions and other writings are published by the 
	composers’ collective, Frog Peak Music.  He has been Visiting Professor at 
	Antioch University, Case Western Reserve University, and at Oberlin College 
	and its Conservatory of Music, where he taught both Musicology and German 
	Language and Literatures.  Schick holds a PhD in Musicology from Yale, and 
	currently resides in France.
</p>
{% endblock %}
