{% extends "/layouts/base.html" %}

{% block people %}
<div class="people">
	<div id="bio-pic">
		<img  src="/static/Schick_01.jpg">
	</div>
	<p>
		Paul Schick is Artistic Director of Real Time Opera, which has been 
		producing new works since 2002. He has written libretti for numerous 
		operas, including Pedr Solis by Per Bloland, NOVA by Lewis Nielson, 
		Iphis/Ianthe by Shea Pierre, A House In Bali by Evan Ziporyn, Feynman by 
		Jack Vees, and Sunburst, Amarama and Cactus Co. by Dan Plonsey. He is 
		currently working on two theatrical texts for Chinese-American composer Kui 
		Dong. Schick has served on the directing staffs of the Wiener Staatsoper, 
		the Teatro alla Scala, the Bayerische Staatsoper, and the Salzburger 
		Festspiele, and has directed for stage, television, and film.  His work has 
		been performed in Europe, Asia, and the US. He has been Visiting Professor 
		at Antioch University, Case Western Reserve University, and at Oberlin 
		College and its Conservatory of Music, where he taught both Musicology and 
		German Language and Literatures.  Schick holds a PhD in Musicology from 
		Yale University. He divides his time between France and Ohio.
	</p>
</div>
{% endblock %}
