{% extends "/layouts/base.html" %}

{% block popups %}
<div class="videoWrapper">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/_cyurJVP4hU" 
		frameborder="0" allowfullscreen></iframe>
</div>
<div class="centered-text">
	<h1>
		Double Figure
	</h1>
	<p>
		Pop-up opera starring Phil Wong and Elaine Daiber, design by Don Harvey, 
		graffiti by Schuyler Coleman, music and libretto by Paul Schick on text by 
		Paul Celan. Performed at Cleveland Public Theatre in November 2012.
	</p>
</div>
<div class="videoWrapper">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Y8S7eKwYAaM" 
		frameborder="0" allowfullscreen></iframe>
</div>
<div class="centered-text">
	<h1>
		Frozen Community
	</h1>
	<p>
		World premiere of pop-up opera from Oberlin, Ohio, music by Randall Woolf, 
		dance by Ladia Yates, played by The Bits, design by Don Harvey, filmed 
		outside The Feve in May 2013.
	</p>
</div>
<div class="videoWrapper">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/zfmScVHRWhE" 
		frameborder="0" allowfullscreen></iframe>
</div>
<div class="centered-text">
	<h1>
		Silent Chorus
	</h1>
</div>
{% endblock %}
