{% extends "/layouts/base.html" %}

{% block press %}
<h1>
	FEYNMAN at the Knitting Factory, NYC (2005)
</h1>
<p>
	"Feynman is essentially a one-man show for baritone, with four percussionists 
	and electronics. The music is often inventive and attractive, now lyrical, 
	now jazzy. The text flits about with Joycean abandon. The performances, 
	especially that of the crack ensemble So Percussion, with the players 
	required to interact physically with Mr. Cavalieri, as well as tend to 
	strenuous musical demands, were game and compelling."
	<p>	
		<em>-James Oestreich, The New York Times</em>
	</p>
</p>
<p>
	"The libretto, by Paul Schick, avoids a strict chronological narrative, 
	mirroring the fact that Feynman believed that there is, on a subatomic level, 
	a nonlinear aspect of time that's hard to get across on our normal everyday 
	experience."
	<p>
		<em>-Brian Wise, The New York Times</em>
	</p>
</p>
<p>
	"Real Time Opera staged the piece amidst translucent screens, evocative 
	lighting and both prerecorded and live video projections, making far better 
	use of the Knitting Factory's meager stage than I would have imagined 
	possible… It was rich, engrossing stuff, and ideal fodder for the Lincoln 
	Center Festival or BAM's Harvey Theater. (Hint, hint.) Baritone Michael 
	Cavalieri gave a winning performance, speaking and singing lines from 
	scientific treatises and a love letter to Feynman's wife, ticking off 
	historical events, wandering the tiny stage and scrawling theorems and 
	doodles on the floor."
	<p>
		<em>-Steve Smith of Time Out New York</em>
	</p>
</p>
{% endblock %}
