{% extends "/layouts/base.html" %}

{% block productions %}
<div class="production-container">
<figure class="production">
	<img src="/static/novaPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Nova
		</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent 
			commodo, ligula a vestibulum viverra, tortor lacus finibus justo, viverra 
			faucibus nunc purus ut sem. Suspendisse ut erat dui. Donec elit sem, 
			ultricies at orci at, cursus semper lorem. In tincidunt volutpat orci 
			vitae venenatis. Curabitur sodales, elit et aliquet rhoncus, dolor nibh 
			condimentum nunc, vel suscipit dui dolor eu orci. Morbi libero arcu, 
			mattis at leo in, facilisis egestas arcu. Vivamus convallis efficitur est 
			in rhoncus. Integer aliquam suscipit erat eu venenatis. In non nunc non 
			felis aliquet facilisis in quis tellus. Duis rutrum libero nunc, eu porta 
			quam tempus non. Proin imperdiet bibendum lacus. Phasellus ut ex vel justo 
			euismod aliquam. In consequat volutpat enim eu vulputate. Duis egestas 
			diam a orci commodo vehicula. 
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/novaPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Nova
		</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent 
			commodo, ligula a vestibulum viverra, tortor lacus finibus justo, viverra 
			faucibus nunc purus ut sem. Suspendisse ut erat dui. Donec elit sem, 
			ultricies at orci at, cursus semper lorem. In tincidunt volutpat orci 
			vitae venenatis. Curabitur sodales, elit et aliquet rhoncus, dolor nibh 
			condimentum nunc, vel suscipit dui dolor eu orci. Morbi libero arcu, 
			mattis at leo in, facilisis egestas arcu. Vivamus convallis efficitur est 
			in rhoncus. Integer aliquam suscipit erat eu venenatis. In non nunc non 
			felis aliquet facilisis in quis tellus. Duis rutrum libero nunc, eu porta 
			quam tempus non. Proin imperdiet bibendum lacus. Phasellus ut ex vel justo 
			euismod aliquam. In consequat volutpat enim eu vulputate. Duis egestas 
			diam a orci commodo vehicula. 
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/novaPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Nova
		</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent 
			commodo, ligula a vestibulum viverra, tortor lacus finibus justo, viverra 
			faucibus nunc purus ut sem. Suspendisse ut erat dui. Donec elit sem, 
			ultricies at orci at, cursus semper lorem. In tincidunt volutpat orci 
			vitae venenatis. Curabitur sodales, elit et aliquet rhoncus, dolor nibh 
			condimentum nunc, vel suscipit dui dolor eu orci. Morbi libero arcu, 
			mattis at leo in, facilisis egestas arcu. Vivamus convallis efficitur est 
			in rhoncus. Integer aliquam suscipit erat eu venenatis. In non nunc non 
			felis aliquet facilisis in quis tellus. Duis rutrum libero nunc, eu porta 
			quam tempus non. Proin imperdiet bibendum lacus. Phasellus ut ex vel justo 
			euismod aliquam. In consequat volutpat enim eu vulputate. Duis egestas 
			diam a orci commodo vehicula. 
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/novaPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Nova
		</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent 
			commodo, ligula a vestibulum viverra, tortor lacus finibus justo, viverra 
			faucibus nunc purus ut sem. Suspendisse ut erat dui. Donec elit sem, 
			ultricies at orci at, cursus semper lorem. In tincidunt volutpat orci 
			vitae venenatis. Curabitur sodales, elit et aliquet rhoncus, dolor nibh 
			condimentum nunc, vel suscipit dui dolor eu orci. Morbi libero arcu, 
			mattis at leo in, facilisis egestas arcu. Vivamus convallis efficitur est 
			in rhoncus. Integer aliquam suscipit erat eu venenatis. In non nunc non 
			felis aliquet facilisis in quis tellus. Duis rutrum libero nunc, eu porta 
			quam tempus non. Proin imperdiet bibendum lacus. Phasellus ut ex vel justo 
			euismod aliquam. In consequat volutpat enim eu vulputate. Duis egestas 
			diam a orci commodo vehicula. 
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/novaPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Nova
		</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent 
			commodo, ligula a vestibulum viverra, tortor lacus finibus justo, viverra 
			faucibus nunc purus ut sem. Suspendisse ut erat dui. Donec elit sem, 
			ultricies at orci at, cursus semper lorem. In tincidunt volutpat orci 
			vitae venenatis. Curabitur sodales, elit et aliquet rhoncus, dolor nibh 
			condimentum nunc, vel suscipit dui dolor eu orci. Morbi libero arcu, 
			mattis at leo in, facilisis egestas arcu. Vivamus convallis efficitur est 
			in rhoncus. Integer aliquam suscipit erat eu venenatis. In non nunc non 
			felis aliquet facilisis in quis tellus. Duis rutrum libero nunc, eu porta 
			quam tempus non. Proin imperdiet bibendum lacus. Phasellus ut ex vel justo 
			euismod aliquam. In consequat volutpat enim eu vulputate. Duis egestas 
			diam a orci commodo vehicula. 
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/novaPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Nova
		</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent 
			commodo, ligula a vestibulum viverra, tortor lacus finibus justo, viverra 
			faucibus nunc purus ut sem. Suspendisse ut erat dui. Donec elit sem, 
			ultricies at orci at, cursus semper lorem. In tincidunt volutpat orci 
			vitae venenatis. Curabitur sodales, elit et aliquet rhoncus, dolor nibh 
			condimentum nunc, vel suscipit dui dolor eu orci. Morbi libero arcu, 
			mattis at leo in, facilisis egestas arcu. Vivamus convallis efficitur est 
			in rhoncus. Integer aliquam suscipit erat eu venenatis. In non nunc non 
			felis aliquet facilisis in quis tellus. Duis rutrum libero nunc, eu porta 
			quam tempus non. Proin imperdiet bibendum lacus. Phasellus ut ex vel justo 
			euismod aliquam. In consequat volutpat enim eu vulputate. Duis egestas 
			diam a orci commodo vehicula. 
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/novaPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Nova
		</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent 
			commodo, ligula a vestibulum viverra, tortor lacus finibus justo, viverra 
			faucibus nunc purus ut sem. Suspendisse ut erat dui. Donec elit sem, 
			ultricies at orci at, cursus semper lorem. In tincidunt volutpat orci 
			vitae venenatis. Curabitur sodales, elit et aliquet rhoncus, dolor nibh 
			condimentum nunc, vel suscipit dui dolor eu orci. Morbi libero arcu, 
			mattis at leo in, facilisis egestas arcu. Vivamus convallis efficitur est 
			in rhoncus. Integer aliquam suscipit erat eu venenatis. In non nunc non 
			felis aliquet facilisis in quis tellus. Duis rutrum libero nunc, eu porta 
			quam tempus non. Proin imperdiet bibendum lacus. Phasellus ut ex vel justo 
			euismod aliquam. In consequat volutpat enim eu vulputate. Duis egestas 
			diam a orci commodo vehicula. 
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/novaPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Nova
		</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent 
			commodo, ligula a vestibulum viverra, tortor lacus finibus justo, viverra 
			faucibus nunc purus ut sem. Suspendisse ut erat dui. Donec elit sem, 
			ultricies at orci at, cursus semper lorem. In tincidunt volutpat orci 
			vitae venenatis. Curabitur sodales, elit et aliquet rhoncus, dolor nibh 
			condimentum nunc, vel suscipit dui dolor eu orci. Morbi libero arcu, 
			mattis at leo in, facilisis egestas arcu. Vivamus convallis efficitur est 
			in rhoncus. Integer aliquam suscipit erat eu venenatis. In non nunc non 
			felis aliquet facilisis in quis tellus. Duis rutrum libero nunc, eu porta 
			quam tempus non. Proin imperdiet bibendum lacus. Phasellus ut ex vel justo 
			euismod aliquam. In consequat volutpat enim eu vulputate. Duis egestas 
			diam a orci commodo vehicula. 
		</p>
	</figcaption>
</figure>
</div>
{% endblock %}
