{% extends "/layouts/base.html" %}

{% block productions %}
<div class="production-container">
<figure class="production">
	<img src="/static/novaPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Nova
		</h1>
		<p>
			Composed by Lewis Nielson to a libretto by Paul Schick, directed by 
			Jonathon Field and premiered during Cleveland Public Theatre's Big Box 
			series 2014.
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/paradoxPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Paradox
		</h1>
		<p>
			An American Sign Language opera composed by Larry Polansky to a text by 
			Patrick Graybill, performed by Monique Holt with interpretation by Tim 
			Chamberlain, music performed by Daniel Goode, Randall Chaves-Camacho and 
			Dan King in August 2013 at The Transformer Station in Cleveland.
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/silentPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Silent Chorus
		</h1>
		<p>
			By David Mahler was performed in Pittsburgh, PA in June 2013 by Stephen 
			Ng (tenor).
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/frozenPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Frozen Community
		</h1>
		<p>
			premiered on Main Street Oberlin in May 2013 composed by Randy Woolf with 
			text by Robin Stranahan, music by The Bits, and dance/choreography by 
			Ladia Yates.
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/doublePoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Double Figure
		</h1>
		<p>
			a translation of a Paul Celan poem by Paul Schick, performed outside (on 
			Detroit Road in Cleveland) in November 2012, starring Phil Wong (tenor) 
			and Elaine Daiber (soprano).

		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/korczaksPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Korczak's Orphans
		</h1>
		<p>
			In May of 2003, Real Time Opera produced the fully-staged world premiere 
			workshop of Korczak's Orphans at the Lebanon Opera House in New 
			Hampshire, a stunning new piece by composer Adam Silverman and librettist 
			Susan Gubernat, based on the life of the famous Polish children's doctor, 
			orphanage director and Holocaust martyr, Janosz Korzcak. In May of 2004, 
			Korczak's Orphans was taken up by New York City Opera and presented as 
			part of its VOX Festival featuring contemporary American opera.
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/feynmanPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Feynman
		</h1>
		<p>
			An opera by composer Jack Vees, Operations Director of the Yale Center 
			for Studies in Music Technology, and librettist Paul Schick, Artistic 
			Director of RTO. Its subject is the Nobel Prize-winning physicist and 
			cult figure Richard Feynman. The amazing 
			<a href="http://www.sopercussion.com" target="_blank">SO percussion</a>, 
			often cited as the best ensemble of its 
			kind, provides the orchestra backing a solo Dr. Feynman (sung by baritone 
			Michael Cavalieri) onstage. Following the highly acclaimed premiere at 
			the Norfolk Chamber Music Festival, CT, in June 2005, we were delighted 
			to present further performances in Brattelboro, VT, at the Vaughan 
			Recital series at Dartmouth College, and as a free public performance as 
			part of the Walker Lecture Fund in Concord, NH. In December 2005 we 
			staged Feynman in New York City at the Knitting Factory; a venue 
			challenge like no other, which resulted in a stunning new visual 
			interpretation of the work and further critical acclaim. We are also 
			planning future performances in the US and Europe.  
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="/static/lmaPoster.jpg" alt="NOVA PIC"/>
	<figcaption>
		<h1>
			Leave Me Alone!
		</h1>
		<p>
			An avant garde jazz opera written by Dan Plonsey to a new libretto by 
			Harvey Pekar who is perhaps best known for his series of autobiographical 
			comic books and the subsequent movie: American Splendor. It premiered 
			January 31, 2009 at Oberlin College.
		</p>
	</figcaption>
</figure>
<figure class="production">
	<img src="" alt="HAWAIIAN TAN RATFACE"/>
	<figcaption>
		<h1>
			Hawaiian Tan Ratface
		</h1>
		<p>
			Words and music by that singular genius of the American underground, John 
			Trubee. The premiere performance took place in February, 2004, at San 
			Francisco's Studio Z, accompanied by the Ugly Janitors of America with 
			choreography by the inimitable Carl Franzoni, to an enthusiastic (and 
			mostly incredulous) audience.
		</p>
	</figcaption>
</figure>
</div>
{% endblock %}
