{% extends "/layouts/base.html" %}

{% block projects %}
<img src="/static/projects.jpg" alt="PROJECTS"/>
<p>
	Since its inception, Real Time Opera has sought collaborative ventures with 
	outstanding educational and arts organizations including Yale University, 
	Dartmouth College, the Oberlin Conservatory of Music, Opera North and Bang On 
	A Can. We continue to welcome such partnerships.
</p>
<p>
	In 2015 RTO commissioned the libretto for Pedr Solis, by Per Bloland, produced 
 	by Guerilla Opera in Boston. RTO has an ongoing commitment to support the 
 	creation of new works.
</p>
{% endblock %}
