<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Real Time Opera
    </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <header>
      <menu>
        <ul id="nav">
          <li>
            <a href="/templates/pages/about.html">About RTO</a>
          </li>
          <li>
            <a href="/templates/pages/press.html">Press</a>
          </li>
          <li>
            <a href="/templates/pages/projects.html">Projects</a>
          </li>
          <li>
            <a href="/templates/pages/productions.html">Productions</a>
          </li>
          <li>
            <a href="/templates/pages/donate.html">Donate</a>
          </li>
        </ul>
      <img id="logo" src="/static/logos/full-width-logo.png"/>
      </menu>
    </header>
    <div class="page-content">
    </div>
    <footer>
    </footer>
  </body>
</html>

