<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Real Time Opera
		</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>

		<link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css"/>
						
	</head>
	<body>
		<div class="container">
			<header>
				<a id="home_link" href="/index"></a>
				<menu>
					<ul id="nav">
						<li>
							<a href="/about">About RTO</a>
						</li>
						<li>
							<a href="/press">Press</a>
						</li>
						<li>
							<a href="/projects">Projects</a>
						</li>
						<li>
							<a href="/productions">Productions</a>
						</li>
						<li>
							<a href="/donate">Donate</a>
						</li>
					</ul>
				</menu>
			</header>
			<div class="social">
				<ul>
					<li>
						<a href="http://www.soundcloud.com" target="_blank" 
							class="icon soundcloud"></a>
					</li>
					<li>
						<a href="http://www.youtube.com" target="_blank" 
							class="icon youtube"></a>
					</li>
					<li>
						<a href="http://www.twitter.com" target="_blank" 
							class="icon twitter"></a>
					</li>
					<li>
						<a href="http://www.facebook.com" target="_blank" 
							class="icon facebook"></a>
					</li>
				</ul>
			</div>
			<div class="page-content">
				{% block index %}
				{% endblock %}
				{% block about %}
				{% endblock %}
				{% block press %}
				{% endblock %}
				{% block projects %}
				{% endblock %}
				{% block productions %}
				{% endblock %}
				{% block donate %}
				{% endblock %}
				{% block people %}
				{% endblock %}
			</div>
		</div>
		<footer>
			<ul>
				<li>
					<a href="/about">About RTO</a>
				</li>
				<li>
					<a href="/people">People</a>
				</li>
				<li>
					<a href="/donate">Guidestar</a>
				</li>
				<li>
					<a href="/donate">Contact</a>
				</li>
			</ul>
		</footer> 
	</body>
</html>	
