/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ################################################# */
html, body {
    height: 100%;
}
.social {
    padding: 5px;
    margin-bottom: -25px;
    float: right;
}
.social ul li {
    display:    inline-block;
}
.icon {
    width:  24px;
    height: 24px;
    display:    block;
    background-repeat:  no-repeat;
}
.facebook {
    background-image:   url(/static/logos/24_facebook.png);
}
.twitter {
    background-image:   url(/static/logos/24_twitter.png);
}
.youtube {
    background-image:   url(/static/logos/24_youtube.png);
}

.container {
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
}
header {
    max-width: 100%;
    background-image: url(/static/logos/full-width-logo.png);
    background-repeat: no-repeat;
    height: 144px;
    overflow: hidden;
    clear: both;
}
#home_link {
    position: absolute;
    height: 144px;
    width: 173px;
}
menu #nav {
    text-align: justify;
    padding-top: 33px;
    float: right;
}
menu #nav li:after {
    content: '|';
}
menu #nav li:last-child:after {
    content: none;
} 
menu #nav li {
    display: inline-block;
}
menu #nav a {
    text-decoration: none;
    color: black;
    padding: 0 5px 0 5px;
}
menu #nav a:hover {
    color: green;
}

.container {
    min-height: 100%;
    margin-bottom: -144px;
}
.container:after {
    content: "";
    display: block;
}
.slider {
    max-width: 100%;
    margin: 0 auto;
}
footer, .container:after {
    height: 144px;
}
footer {
    max-width: 1000px;
    background-image: url(/static/logos/footer.png);
    background-repeat: no-repeat;
    height: 144px;
    margin: 0 auto;
    overflow: hidden;
}
