/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ################################################# */
html, body {
	height: 100%;
	font-family: Futura;
}
body {
	max-width: 1000px;
	margin: 0 auto;
}
.social {
	padding: 5px;
	margin-top: -47px;
	float: right;
}
.social ul li {
	display:    inline-block;
}
.icon {
	width:  24px;
	height: 24px;
	display:    block;
	background-repeat:  no-repeat;
}
.facebook {
	background-image:   url(/static/logos/24_facebook.png);
}
.twitter {
	background-image:   url(/static/logos/24_twitter.png);
}
.youtube {
	background-image:   url(/static/logos/24_youtube.png);
}
.soundcloud {
	background-image:   url(/static/logos/24_soundcloud.png);
}
.container {
	margin: 0 auto;
}
header {
	max-width: 100%;
	margin: 0 auto;
	background-image: url(/static/logos/extra_long_header.png);
	background-repeat: no-repeat;
	height: 95px;
	overflow: hidden;
	clear: both;
}
#home_link {
	position: absolute;
	height: 95px;
	width: 130px;
}
menu #nav {
	text-align: justify;
	padding: 7px 5px 0 0;
	float: right;
}
menu #nav li:after {
	content: '|';
}
menu #nav li:last-child:after {
	content: none;
} 
menu #nav li {
	display: inline-block;
}
menu #nav a {
	text-decoration: none;
	color: black;
}
menu #nav a:hover {
	color: green;
}
.container {
	min-height: 100%;
	margin-bottom: -21px;
}
.container:after {
	content: "";
	display: block;
}
.page-content {
	max-width: 75%;
	padding-top: 20px;
	text-align: justify;
	margin: 0 auto;
	line-height: 1.5;
}
.page-content p {
}
.page-content img {
	width: 100%;
}


figure {
	text-align: center;
}

figcaption {
}
figcaption {
	max-height: 40%;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px 20px;
}
footer, .container:after {
	height: 21px;
}
footer {
	width: 100%;
	border-top: 1px solid #000000;
	height: 20px;
	margin: 0 auto;
	text-align: center;
}
footer li {
	display: inline-block;
}
								
