/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ################################################# */
html, body {
	height: 100%;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}
body {
	max-width: 1000px;
	min-width: 480px;
	margin: 0 auto;
}
.social {
	padding: 5px;
	margin-top: -40px;
	float: right;
}
.social ul li {
	display:    inline-block;
}
.icon {
	width:  24px;
	height: 24px;
	display:    block;
	margin-left: 12px;
	background-repeat:  no-repeat;
}
.facebook {
	background-image:   url(/static/logos/24_facebook.png);
}
.twitter {
	background-image:   url(/static/logos/24_twitter.png);
}
.youtube {
	background-image:   url(/static/logos/24_youtube.png);
}
.soundcloud {
	background-image:   url(/static/logos/24_soundcloud.png);
}
header {
	max-width: 100%;
	margin: 0 auto;
	background-image: url(/static/logos/extra_long_header.png);
	background-repeat: no-repeat;
	height: 95px;
	overflow: hidden;
	clear: both;
}
#home_link {
	position: absolute;
	height: 95px;
	width: 130px;
}
menu #nav {
	text-align: justify;
	padding: 7px 5px 0 0;
	float: right;
}
menu #nav li:after {
	content: '|';
}
menu #nav li:last-child:after {
	content: none;
} 
menu #nav li {
	display: inline-block;
}
menu #nav a {
	text-decoration: none;
	color: black;
}
menu #nav a:hover {
	color: green;
}
.container {
	width: 100%;
}
.page-content {
	width: 100%;
	padding-top: 20px;
	text-align: justify;
	line-height: 1.5;
	margin: 0 auto;
	float: left;
}
#bio-pic {
	width: 300px;
	margin: 0 20px 0 0;
	float: left;
}
#test-link {
	margin: 15px;
}
.page-content p {
	text-indent: 30px;
}
.page-content em {
	font-style: italic;
}
.page-content img {
	width: 100%;
}
.about p {
	padding: 10px 0 10px 0;
}
.press p {
	text-align: center;
	padding: 10px 0 10px 0;
}
#slider {
	display: none;
}
.slick-nav-cust {
	background: yellow;
	position: relative;
	width: 200px;
	margin: 0 auto;
}
.slick-prev {
	background: url(/static/left.svg);
}
footer {
	width: 100%;
	border-top: 3px solid #000000;
	margin: 0 auto;
	margin-top: 20px;
	padding: 7px 0 4px 0;
	text-align: center;
	float: left;
}
footer li:after {
	content: '|';
}
footer li:last-child:after {
	content: none;
} 
footer li {
	display: inline-block;
}
footer a {
	text-decoration: none;
	color: black;
}
footer a:hover {
	color: green;
}
/*###############################################################*/
@media screen and (max-width: 750px) {
	.page-content { max-width: 100%; }
	.page-content p { padding: 0 10px 0 10px; }
	.about p { padding: 10px; }
	.press p { text-align: center; 
						 padding: 10px; }
	#bio-pic { padding: 0 0 0 10px; }
}

@media screen and (max-width: 640px) {
	.page-content { max-width: 100%; }
	.page-content p { padding: 0 10px 0 10px; }
	.about p { padding: 10px; }
	.press p { text-align: center; 
						 padding: 10px; } 
	#bio-pic { width: 360px;
						 padding: 0;
						 margin: 0 auto;
						 float: none; }
}
								
